git+https://github.com/dolfies/discord.py-self.git
git+https://github.com/ghostselfbot/pypresence.git

art==6.4
certifi==2025.1.31
colorama==0.4.6
Faker==35.2.0
pillow==11.1.0
psutil==6.1.1
pycryptodome==3.21.0
pystyle==2.9
requests===2.32.3
ttkbootstrap===1.10.1