art
colorama
git+https://github.com/dolfies/discord.py-self.git
Faker
requests
pillow
pystyle
psutil
pycryptodome
ttkbootstrap
pyinstaller
# git+https://github.com/tomlin7/cupcake.git
cupcake-editor
filetype
toml
pygments
certifi